@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(251, 204, 28);
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-size: 40px;
  line-height: 88px;
  color: #fff;
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
  overflow: scroll;
}
.main-title {
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 10px 28px;
  top: 0;
  left: 0;
  color: rgb(65,105,225);
  line-height: initial;
  text-align: left;
  border-bottom: 2px solid;
  box-sizing: border-box;
}
.story-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.1em;
}
.entry {
  margin-top: 40px;
}
.word {
  width: 215px;
  height: 90px;
  background: #fff;
  box-shadow: 1px 1px 5px 0 #5c5c5c;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  top: 0;
}
.word__input, 
.word__input:focus,
.word__input:hover {
  position: absolute;
  top: 20px;
  font-size: 26px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  border: none;
  border-color: transparent;
  outline: none;
}
.word__wordtype {
  display: inline-block;
  position: relative;
  border-top: 2px solid;
  border-color:#fbcc1c;
  color:#fbcc1c;
  padding: 5px;
  font-size: 16px;
  line-height: 21px;
  bottom: -24px;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
}
.result {
  display: none;
}
.result--active {
  display: block;
}
.story {
  font-family: 'Gloria Hallelujah', cursive;
  padding: 5% 10%;
  line-height: 1.8;
}
/* reset button */
.btn {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}
.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* custom styles */
.btn {
  background-color: rgb(65,105,225);
  border: 1px solid rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  height: 2em;
  line-height: 2;
  margin: 0.25em;
  padding: 0 1em;
  width: 9em;
  font-size: 24px;
}
